html {
  background-color: rgb(59, 42, 26); 
    /* A dark brown that matches your wood image */
    scroll-behavior: smooth;
     background-image: url("/BiblePages/Assets/images/main/defaultbackground.webp");
    background-repeat: repeat;
    background-attachment: fixed;
}