
/* 
@media (max-width: 1350px) {
    #contentcolumn .innertube {
        padding-left: 15px;
        padding-right: 15px;
        width: 80%;
        max-width: 900px;
        min-width: 280px;
        margin: 0 auto;
        box-sizing: border-box;
        margin-left: 150px;
        margin-right: 150px;
        margin-bottom: 300px !important;
    }
}@media (max-width: 1349px) {
    h3 {
        display: block;
        font-size: 1em;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        unicode-bidi: isolate;
    }    hr {
        margin-top: 1px;
        margin-bottom: 1px;
        padding: 0px;
    }    h2 {
        font-size: 1em;
        text-transform: uppercase;
    }    hr.hrbiblepassages {
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 0px;
    }
}@media (max-width: 1100px) {
    #contentcolumn .innertube {
        padding-left: 15px;
        padding-right: 15px;
        width: 80%;
        max-width: 900px;
        min-width: 280px;
        margin: 0 auto;
        box-sizing: border-box;
        margin-left: 130px;
        margin-right: 150px;
        margin-bottom: 300px !important;
    }
}@media (max-width: 1030px) {
    #contentcolumn .innertube {
        padding-left: 15px;
        padding-right: 15px;
        width: 95%;
        max-width: 1030px;
        min-width: 280px;
        margin: 0 auto;
        box-sizing: border-box;
        margin-left: 15px;
    }
}@media (max-width: 900px) {
    #contentcolumn .innertube {
        padding-left: 15px;
        padding-right: 15px;
        width: 80%;
        max-width: 900px;
        min-width: 150px;
        margin: 0 auto;
        box-sizing: border-box;
        margin-left: 110px;
        margin-right: 100px;
        margin-bottom: 400px !important;
    }
}@media (max-width: 899px) {    #display-title,
    display-title2 {
        text-align: left;
        font-size: 1.2em;
        margin-top: 2px;
        position: fixed;
        top: 0;
        z-index: 10;
        color: white;
        left: 10%;
    }
}@media (max-width: 800px) {
    img.shadowed {
        width: 90%;
        height: auto;
    }
}@media (max-width: 770px) {
    #contentcolumn .innertube {
        padding-left: 15px;
        padding-right: 15px;
        width: 98%;
        max-width: 1030px;
        min-width: 280px;
        margin: 0 auto;
        box-sizing: border-box;
        margin-left: 15px;
        margin-bottom: 70px;
    }    a.vlink,
    a.vlink:link,
    a.vlink:visited,
    a.clink,
    a.clink:link,
    a.clink:visited,
    a.slink,
    a.slink:link,
    a.slink:visited {
        display: inline-block;
        width: 25px;
        height: 25px;
        line-height: 25px;
        text-align: center;
        border: 1px solid #ebebeb;
        text-decoration: none;
        margin: 1px;
        background-color: white;
        font-size: 0.9em;
    }
}@media (max-width: 768px) {    .tdenglishbible,
    .tdtagalogbible {
        display: table-cell;
        vertical-align: top;
    }    .tdenglishbible {
        width: 50%;
    }    .tdtagalogbible {
        width: 50%;
    }    #contentcolumn {
        margin-left: 130px;
    }
}@media (max-width: 750px) {
    #contentcolumn .innertube {
        padding-left: 15px;
        padding-right: 15px;
        width: 78%;
        max-width: 900px;
        min-width: 150px;
        margin: 0 auto;
        box-sizing: border-box;
        margin-left: 110px;
        margin-right: 100px;
        margin-bottom: 500px !important;
    }
}@media (max-width: 700px) {
    #contentcolumn .innertube {
        padding-left: 15px;
        padding-right: 15px;
        width: 80%;
        max-width: 900px;
        min-width: 150px;
        margin: 0 auto;
        box-sizing: border-box;
        margin-left: 80px;
        margin-right: 50px;
        margin-bottom: 300px !important;
    }    #display-title,
    display-title2 {
        text-align: left;
        font-size: 1em;
        margin-top: 2px;
        position: fixed;
        top: 0;
        z-index: 10;
        color: white;
        left: 5%;
    }
}@media (max-width: 600px) {    #display-title,
    display-title2 {
        text-align: left;
        font-size: 1em;
        margin: 1% 2%;
    }    #contentcolumn .innertube {
        margin-left: -16px !important;
        padding-left: 5px !important;
        padding-right: 5px !important;
        width: 100% !important;
    }    hr {
        margin-top: 1px;
        margin-bottom: 1px;
        padding: 0px;
    }    h2 {
        font-size: 1em;
        text-transform: uppercase;
    }    h3 {
        font-size: 1em;
        padding: 1px;
        margin: 1px;
        line-height: 0.9em;
    }    #display-title,
    display-title2 {
        text-align: left;
        font-size: 0.9em;
        margin-top: 2px;
        position: fixed;
        top: 0;
        z-index: 10;
        color: white;
        left: 1%;
    }
}@media (max-width: 520px) {
    #contentcolumn .innertube {
        padding-left: 15px;
        padding-right: 15px;
        width: 98%;
        max-width: 1030px;
        min-width: 280px;
        margin: 0 auto;
        box-sizing: border-box;
        margin-left: 15px;
        margin-bottom: 70px;
    }    .leftcolumn a.vlink,
    a.vlink:link,
    a.vlink:visited,
    a.clink,
    a.clink:link,
    a.clink:visited,
    a.slink,
    a.slink:link,
    a.slink:visited {
        display: inline-block;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        border: 1px solid #ebebeb;
        text-decoration: none;
        margin: 1px;
        background-color: white;
        font-size: 0.7em;
    }
}@media (min-width: 200px) and (max-width: 700px) {
    #contentcolumn .innertube {
        padding-left: 15px;
        padding-right: 15px;
        width: 85%;
        max-width: 900px;
        min-width: 280px;
        margin: 0 auto;
        box-sizing: border-box;
        margin-left: 70px;
        margin-bottom: 150px !important;
        margin-top: 50px;
    }
}@media (min-width: 200px) and (max-width: 600px) {
    #contentcolumn .innertube {
        margin-left: -8px !important;
        padding-left: 5px !important;
        padding-right: 5px !important;
        width: 98% !important;
        margin-top: 40px !important;
    }
}@media (min-width: 701px) and (max-width: 1220px) {
    #contentcolumn .innertube {
        padding-left: 15px;
        padding-right: 15px;
        width: 80%;
        max-width: 900px;
        min-width: 280px;
        margin: 0 auto;
        box-sizing: border-box;
        margin-left: 110px;
        margin-bottom: 100px;
    }    #contentcolumn {
        margin: 0 0px 0 100px;
        margin-top: 50px;
        margin-bottom: 100px !important;
    }
}@media (min-width: 768px) {
    #contentcolumn {
        margin-bottom: 100px !important;
    }
}@media (min-width: 900px) {
    .verticalchapter {
        margin-top: 80px;
    }    .verticalchapter2 {
        margin-top: 100px;
    }    .verticalchapter3 {
        margin-top: 150px;
    }    #display-title,
    display-title2 {
        text-align: left;
        font-size: 1.2em;
        margin-top: 7px;
        position: fixed;
        top: 0;
        z-index: 10;
        color: white;
    }
}@media (min-width: 1221px) and (max-width: 1349px) {
    #contentcolumn {
        margin: 0 0px 0 150px;
    }    #contentcolumn .innertube {
        padding-left: 15px;
        padding-right: 15px;
        width: 90%;
        max-width: 900px;
        min-width: 280px;
        margin: 0 auto;
        box-sizing: border-box;
        margin-left: 70px;
        margin-bottom: 100px;
        margin-top: 40px !important;
        margin-bottom: 100px !important;
    }
}/* PERMANENT BELOW *//* a.vlink,
a.vlink:link,
a.vlink:visited,
a.clink,
a.clink:link,
a.clink:visited  */{
    display: inline-block;
    /* Required to apply width/height */    line-height: 30px;
    /* Centers text vertically */
    text-align: center;
    /* Centers text horizontally */
    border: 1px solid #ebebeb;
    text-decoration: none;
    margin: 2px;
    background-color: white;}/* .verseLinks,
.chapterLinks {
    z-index: 5 !important;
} *//* .vlink {
    background-color: #d7f6ff !important;
    font-weight: bold;} *//* TITLE TR ROW, BORROWED FROM NRVUE EBOOK, MAY BE DELETED  For Copyright*/
/* .verseLinks,
.chapterLinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start !important;} *//* 
.verseLinks,
.chapterLinks {
    text-align: center;
    background-color: white;
    gap: 5px;
    padding: 10px;
} *//* .verseLinks>a {
    padding-right: 2px;
    padding-left: 2px;
} *//* a.vlink,
a.clink {
    line-height: 2em;
} *//* a.vlink:hover,
a.clink:hover,
a.slink:hover,
a.slink2:hover {
    border-color: #e25401;
    background-color: #fff9d5 !important;
    color: black;
} */
