body {
  font-size: 1em;
}

.clink {
  font-size: 1em;
  width: 35px;
  /* Fixed width so all boxes are equal */
  height: 30px;
  /* Fixed height */
}

.IndexChapterParent,
.IndexChapterParent,
.PageVerseParent {
  display: flex;
  align-items: center;
  justify-content: center;
}

a.vlink,
a.vlink:link,
a.vlink:visited a.clink,
a.clink:link,
a.clink:visited {
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  width: 35px;
  height: 35px;
  font-weight: bold;
}



.verseLinks,
.chapterLinks {
  flex-wrap: wrap;
  gap: 15px;
  padding: 1em 1em;
  margin: 0 auto;
}




/*spacerawayfrommenubarito*/
.bible-container {
  margin-bottom: auto;

}

#DisplayFlexOfBigFive,
#DisplayFlexBigThree {
  padding-bottom: 200px;
}

.bible-container-bg {
  height: auto;
  overflow: visible;
}


.indeximage {
  width: 100%;
  height: auto;
}

.verticalimageindex {
  width: 24%;
  height: auto;
  margin-right: 15px;
  margin-bottom: 20px;
  margin-top: 0px;
  margin-left: 20px;
}

.horizontalimageindex {
  width: 40%;
  height: auto;
  margin: 20px;
}

.horizontalbiggerimageindex {
  width: 42%;
  height: auto;
  margin: 20px;
}

.pinoybiblegmail {
  margin-bottom: -5px;
}

.homepageh1 {
  font-size: 2em;
}

.spanenglishbible,
.spantagalogbible {
  font-size: 1em;
  line-height: 1.1em;
}

.tdenglishbible {
  padding: 10px 20px 10px 10px;
}

.tdtagalogbible {
  padding: 10px 10px 10px 20px;
}

.biblepassages {
  padding-left: 10% !important;
  padding-right: 10% !important;
}

.OtherLinks {
  border-style: solid;
  border-width: 1px 0;
  border-color: #bbbbbb;
  padding: 5px 10px;
  overflow: auto;
}

.OtherLinks {
  transition: padding 0.3s ease;
  text-align: center;
}

.OtherLinks:hover {
  background-color: #f1ffc3;
  padding: 20px 0px;

  .OtherMenu {
    height: auto;
  }
}

.clinkColumn {
  display: flex;
}

#image1080,
#image4k {
  float: left;
  max-width: 220px;
  min-width: 50px;
  width: 100%;
  height: auto;
}

#DisplayFlexOfBigFive {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

#DisplayFlexBigThree {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}




#DisplayFlexOfBigFive {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: flex-start;
  align-items: flex-start;
}

#DisplayFlexBigThree {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}



.OtherMenu {
  height: 100%;
  height: 300px;
  overflow: hidden;
  padding: 10px;
  max-height: 250px;
}

.indentHolder {
  margin-left: 15px;
  margin-right: 15px;
}

.homepageh1 {
  margin: 1px;
}

#DisplayFlexOfBigFive {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: flex-start;
  align-items: flex-start;
}

.diglotfullwidth {
  width: 100%;
}


.HomeURLheader,
#display-title,
#display-title2 {

  font-size: 1em;
}



.previouschapter,
.npspacer,
.nextchapter {
  font-size: 1.2em;
}

.BookIndexTitle {
  font-size: 2.2em;
}

.BookIndexChapter {
  font-size: 1.5em;
}

.ChapterHomeText {
  text-align: justify;
  margin: 20px 20px 0px 20px;
}





.ChapterP,
.ChapterPNI,
.ChapterPCenter,
.CenterIndex,
.centernonitalic {
  font-size: 1.2em;
}

.english {
  font-size: 0.9em;
}

.tagalogleft,
.diglotboth {
  font-size: 1em;
}

.diglotnav {
  font-size: 1.2em;
}

.bibleduo {
  font-size: 0.9em;
}

.LCOldTestament,
.LCNewTestament {
  font-size: 1.4em;
}

#bgUpload {
  font-size: 1.2em;
}

.BMONTgenesis,
.BMONTexodus,
.BMONTleviticus,
.BMONTnumbers,
.BMONTdeuteronomy,
.BMONTjoshua,
.BMONTjudges,
.BMONTruth,
.BMONT1samuel,
.BMONT2samuel,
.BMONT1kings,
.BMONT2kings,
.BMONT1chronicles,
.BMONT2chronicles,
.BMONTezra,
.BMONTnehemiah,
.BMONTesther,
.BMONTjob,
.BMONTpsalms,
.BMONTproverbs,
.BMONTecclesiastes,
.BMONTsongofsolomon,
.BMONTisaiah,
.BMONTjeremiah,
.BMONTlamentations,
.BMONTezekiel,
.BMONTdaniel,
.BMONThosea,
.BMONTjoel,
.BMONTamos,
.BMONTobadiah,
.BMONTjonah,
.BMONTmicah,
.BMONTnahum,
.BMONThabakkuk,
.BMONTzephaniah,
.BMONThaggai,
.BMONTzechariah,
.BMONTmalachi,
.BMONTmatthew,
.BMONTmark,
.BMONTluke,
.BMONTjohn,
.BMONTacts,
.BMONTromans,
.BMONT1corinthians,
.BMONT2corinthians,
.BMONTgalatians,
.BMONTephesians,
.BMONTphilippians,
.BMONTcolossians,
.BMONT1thessalonians,
.BMONT2thessalonians,
.BMONT1timothy,
.BMONT2timothy,
.BMONTtitus,
.BMONTphilemon,
.BMONThebrews,
.BMONTjames,
.BMONT1peter,
.BMONT2peter,
.BMONT1john,
.BMONT2john,
.BMONT3john,
.BMONTjude,
.BMONTrevelation {
  padding-left: 10px;
}



.bible-container,
.previousspacernextFlexParent,
.UpperPageParentFlexBox {
  display: flex;
}

.bible-container,
.UpperPageParentFlexBox {
  flex-direction: column;
}

.previousspacernextFlexPare {
  flex-direction: row;
}

.verseLinks,
.chapterLinks {
  display: flex;
  justify-content: flex-start;
}

.ChapterPageTitle,
.BookIndexTitle {
  align-items: center;
  justify-content: center;

}

.chapterLinks {
  flex-direction: column;
}

.clinkColumn {
  border-bottom: 2px solid rgba(128, 128, 128, 0.0);
  gap: 10px;
}

.nothinglastsBUTTHEWORDOFGOD {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
}

.LoveOfGodFlex {
  display: flex;
  width: 100%;
  height: auto;
  overflow: visible;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.ChapterN1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.ChapterN2 {
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.N1 {
  font-size: 1.7em;
}

.N2 {
  font-size: 1.3em;
}

.N3 {
  font-size: 1.1em;
}

.N4 {
  font-size: 1em;
}

/* Top → Right → Bottom → Left */

.bible-container-bg {
  padding: 0px 20px 20px 20px;
  margin-bottom: 10% !important;
}

.bcbgPages {
  padding: 0px 20px 20px 20px;
}


.previousspacernextFlexParent {
  display: flex;
  justify-content: space-between;
  gap: 20%;
}

.nextchapter,
.previouschapter {
  display: inline-flex;
  justify-content: center;
}

.nextswitcher1,
.nextswitcher1p {
  display: inline-flex;
}

.nextswitcher,
.nextswitcherp {
  display: inline-flex;
}



.nextswitcher1p,
.nextswitcherp {

  a {
    display: flex !important;
    flex-direction: row;
  }

}


.PFlexIndented {
  text-indent: 3rem;
}

.ReversedPFlexIndented,
.CenterIndex {
  text-indent: 0px;
}


.CenterIndex {
  text-align: center !important;
  font-style: italic;
  margin-left: 3rem;
  margin-right: 3rem;
}





/* DIGLOT MENU PAGES */



.BibleChaptersMenu {
  height: 580px;
  overflow: auto;
  padding-left: 5px;
}


.remainhere {

  background-color: white;
  height: auto;

  width: 100%;

}


.smallfont {
  font-size: .9em;
}

/* DIGLOT POST BUTTON */




#biblejournalpostsholder {

  overflow: auto;
  text-align: center;
  overflow-y: auto;
}



.biblejournalposts {
  border-bottom: 1px solid rgba(128, 128, 128, 0.281);
  border-top: 1px solid rgba(128, 128, 128, 0.281);
  padding: 5px 5px;
  transition: padding 0.3s;
}

.biblejournalposts:hover {
  background-color: rgba(181, 255, 249, 0.7);
  padding: 10px 5px;
}

.biblejournalposts {
  font-size: 1em;
  direction: ltr;
  text-align: center;
}

.journalnumber {
  font-weight: bold;
}

.journaltitle {
  font-size: 1.1em;
  color: #0f0f46;
}



@media (min-width:1101px) {
  .diglotcutwidth {
    width: 75%;
    margin: 0 auto;
  }
}

@media (max-width:1100px) {
  .diglotcutwidth {
    width: 85%;
    margin: 0 auto;
  }
}


#calltoactionhanging,
#calltoactionhanging2 {
  position: relative;
  justify-content: center;
  align-items: center;
  vertical-align: center;
  background-color: #0f0f46;
  color: white;
  padding: 5% 5%;
  height: 50px;
  width: 90%;

  text-align: center;
  margin: 5% auto;
}




/* daily devotional */

#dev-content {
  font-size: 1.2em;
  margin-left: 10%;
  margin-right: 10%;
  line-height: 1.4em;
}

#dev-content>pre {
  font-size: 1em;
  margin-left: 10%;
  margin-right: 10%;
  line-height: 1.4em;
  font-family: "Arimo", Arial, FreeSans, Helvetica, sans-serif;
}

#quote {
  font-size: 1.5em;
}

#image10802,
#image4k2 {
  float: right;
  max-width: 400px;
  min-width: 50px;
  width: 100%;
  height: auto;
}

.devotionalindex {
  font-size: 1.2em;
}







#customizationheader {
  font-size: 1.2em;
  display: flex;
}

/*DIGLOT BUTTON*/

#diglot-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5%;
  flex: 1 0 10%;
  border: 2px solid rgb(10, 10, 14);
}

#diglot-holder-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5%;
  flex: 1 0 10%;
  width: 100%;
  text-align: center;
  height: 200px;
}

#diglot-subholderdiglot {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2%;
  flex: 1 0 10%;
  justify-content: space-evenly;
}

.controldiglot {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f0f46;
  color: white;
  padding: 1% 6%;
  height: 20px;
}

#holderdiglottext {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5%;
  width: 100%;
  height: 180px;
}

.choosediglottext {
  display: flex;
  margin: 1%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.choosediglot {
  display: flex;
  margin-top: 1%;
  padding-top: 2%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#holderoftwonavi {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 5%;
}


/*DIGLOT BUTTON*/



#diglot-subholdertext {
  display: flex;
  flex-direction: column;
  justify-content: center;


  height: 180px;
  text-align: center;

  border: 2px solid rgb(10, 10, 14);
}

#textsizebuttonholders {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2%;
  flex: 1 0 10%;
  justify-content: space-evenly;
}


.textresizerButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f0f46;
  color: white;
  padding: 2% 5%;
  width: 15%;
  height: 30px;
}



.textresizerButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f0f46;
  color: white;
  padding: 2% 5%;
  width: 15%;
  height: 30px;
}




.textresizerButton,
.controldiglot,
.fontchoiceButton,
.colorpage2 {
  display: flex;

}


#header {
  top: 0px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
  height: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #122051 !important;
  font-size: 1.3em;
}



.colorpage {
  width: 90%;
  height: 50px;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;
}


.philnavsfloat {
  display: flex;
  align-items: center;
  justify-content: center;
  clear: both;
  cursor: pointer;
}

.philnavsfloatimg {
  width: 361px;
  height: 40x;
  cursor: pointer;
}

.marginparagraph {
  margin-left: 5%;
  margin-right: 5%;
  line-height: 1.4em;
}

.controldiglot:hover,
.textresizerButton:hover,
.fontchoiceButton:hover,
#buttonclick:hover,
.fontweightButton:hover,
.colorpage2:hover,
.smallfont:hover {
  background-color: #daff06;
  color: rgb(0, 0, 0);
  cursor: pointer;
}


#fontfacebox {
  display: flex;
  border: 2px solid rgb(10, 10, 14);

  justify-content: center;
  width: 100%;
  margin: 1% auto;
  place-items: center;

}


.fontchoiceButton {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f0f46;
  color: white;
  padding: 1% 1%;
  width: 150px;
  height: 40px;
  align-content: center;
  justify-items: center;
  flex: 1 0 15%;
  gap: 5%;
  margin-bottom: 3%;


}

.colorpage2 {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1% 1%;
  width: 150px;
  height: 40px;
  align-content: center;
  justify-items: center;
  flex: 1 0 15%;
  gap: 5%;
  margin-bottom: 3%;


}


.fontchoicesHolder {
  display: flex;
  gap: 5%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-top: 1rem;
}

#fontfacebox {
  display: flex;
  flex-direction: column;
}



.fontweightHolder {
  display: flex;
  gap: 5%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 1rem;
  flex-direction: column;
  border: 2px solid rgb(10, 10, 14);
}

#choosediglottext {
  width: 100%;
}


.fontweightHolderButton {
  display: flex;
  gap: 1%;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 0 auto;
  margin-top: 1rem;
  flex-direction: row;
  width: 100%;
}


.linerindex {
  width: 100%;
  border: 1px solid black;
}

#customizationheader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
}



.fontweightButton {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f0f46;
  color: white;
  padding: 1% 1%;
  width: 150px;
  height: 40px;
  align-content: center;
  justify-items: center;
  gap: 5%;
  margin-bottom: 3%;
  cursor: pointer;


}












.bible-container-bgs,
.gray {
  background-color: #adadad;
  color: black;
}

.bible-container-bgs,
.blue {
  color: #ffffff;
  background-color: #416e97;
}

.bible-container-bgs,
.brown {
  background-color: #bbb19c;
  color: #33311e;
}

.bible-container-bgs,
.sepia {
  background-color: #b8a88a;
  color: white;
}


.bible-container-bgs,
.brownish {
  background-color: #897560;
  color: white;
}



.bible-container-bgs,
.visionimpaired {
  background-color: #000000 !important;
  color: white;
}






/** BACKGROUND IMAGE AND COLOR **/



.BackgroundImageFlex {
  display: flex;
  flex-direction: row;
}




#bgUploadFlex {
  display: flex;
}


#bgStyleFlex {
  display: flex;
}

#applyImageThemeFlex {
  display: flex;
}

#lesserhrnaFlex {
  display: flex;
}

.BackgroundColorFlex {
  display: flex;
  flex-direction: row;
}

#chooseplainFlex {
  display: flex;
}

#labelTitleFlex2 {
  display: flex;
}

#applyColorFlex {
  display: flex;
}

.BackgroundImageFlex {
  width: 100%;
  height: auto;
}




#bgStyleFlex {
  width: 100%;
  height: auto;
  justify-content: center;
}



#lesserhrnaFlex {
  width: 100px;
  height: auto;
}

.BackgroundColorFlex {
  width: 100px;
  height: auto;
}

#chooseplainFlex {
  width: 100px;
  height: auto;
}

#labelTitleFlex2 {
  width: 100px;
  height: auto;
}

#applyColorFlex {
  width: 100px;
  height: auto;
}



.CustomizerFlex {
  display: flex;
  justify-items: center;
  flex-direction: row;
  gap: 5%;
}

#plaincoloronly {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5%;
  flex: 1 0 10%;
  border: 2px solid rgb(10, 10, 14);
  width: 45%;
}


#plainimageonly {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 5%;
  flex: 1 0 10%;
  border: 2px solid rgb(10, 10, 14);
  width: 45%;
  height: auto;
}




.BackgroundImageFlex {
  width: 100%;
  height: auto;
  text-align: center;
  align-self: center;
  justify-content: center;

  h3 {
    width: 100%;
    height: auto;
    text-align: center;
    align-self: center;
    justify-content: center;
  }
}

.uploadholder {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;

}

#labelTitleFlex {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
}

#bgUploadFlex {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;

  input {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}


#applyImageThemeFlex {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}



#labelTitle {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 2%;
}

#bgUpload {
  font-size: 1em;
  width: 100%;
}

#bgStyle {
  font-size: 1em;
}


#bgColor {
  width: 100px;
  height: 100px;
}



#buttonclick {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f0f46;
  color: white;
  padding: 1% 1%;
  width: 150px;
  height: 40px;
  align-content: center;
  justify-items: center;
  gap: 5%;
  margin-bottom: 3%;
  cursor: pointer;



}

.BackgroundImageFlex {
  display: flex;
  flex-direction: column;
}

.uploadholder2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: CENTER;

}


#plaincoloronly {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 5%;
  flex: 1 0 10%;
  border: 2px solid rgb(10, 10, 14);
  width: 40%;
  height: 350px;
}


.uploadholder3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;

}





#labelTitleFlex2 {
  width: 100%;
  justify-content: center;
  align-self: center;
}




.scrollup {
  width: 60px;
  height: 48px;
}



#btnPrev,
#btnToggle,
#btnNext {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f0f46;
  color: white;
  padding: 1% 1%;
  width: 100px;
  height: 40px;
  align-content: center;
  justify-items: center;

  cursor: pointer;

  transition: ease .1s background-color;
  font-size: .8em;

}


#btnPrev:hover,
#btnToggle:hover,
#btnNext:hover {

  background-color: #daff06;
  color: rgb(0, 0, 0);
  cursor: pointer;


}




#navigationall {
  position: fixed;
  bottom: 0px;
  right: 10%;
  display: flex;
  flex-direction: row;
  gap: 2%;
  opacity: 0;
  transition: ease .2s opacity;
}


#navigationall:hover {
  opacity: 1;
}


.resultbox {
  width: 100%;
  position: relative;
  height: auto;
}

#searchBox {
  border: 1px solid gray;
  font-size: 1.2em;
  height: 35px;
}

#searchResults {
  width: 100;
  height: 100%;
  overflow: auto;
  position: relative;
}


.closesearch,
.gobacktosearch {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f0f46;
  color: white;
  padding: 1% 1%;
  width: 20%;
  height: 2%;
  align-content: center;
  justify-items: center;
  cursor: pointer;
  font-size: .8em;
  transition: background-color 0.3s ease;
  margin: 0 auto;
}




/*spacerawayfrommenubarito*/

.bible-container {
  position: absolute;
  width: 70%;
  height: auto;
  margin-bottom: 200px;
  margin-left: 27.5%;
  margin-right: 2.5%;
  left: 0;
}


#MenuContainerMirrored {

  height: 28%;
  position: fixed;
  width: 25%;
  left: 0;
  bottom: 0;
  max-width: 250px;
  overflow: auto;
}



#separatedivider {
  display: none;
}

#joinerdivider {
  display: block;
}


#MenuContainer {

  height: 65%;
  position: fixed;
  left: 0;
  width: 25%;

}


#MenuContainer,
.OtherLinks {
  max-width: 250px;
}

#MenuContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 10px;
  margin-left: 0;

  position: fixed;

  flex: 1 0 10%;

}

.marginbot {
  margin-bottom: 5% !important;
}







.back-to-top {


  position: fixed;
  bottom: 0;
  right: 0;
  height: 50px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 1s ease;


  /* Shorthand: Name | Duration | Timing | Delay | Iteration | Direction */
  animation: ease .1s opacity;
}


.back-to-top:hover {

  opacity: 1;
  background-color: white;



}




#onlymobilenarrow {
  display: none;
}




.resultdiglot {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5%;
}













.diglotfooterdiv {
  position: relative;
  bottom: 0px;
  width: 100%;
  height: 10%;
  background-color: white;
  height: 100px
}










.OtherMenu {
  overflow-y: auto;
  overflow-x: hidden;
}



.controlheader {
  font-weight: bold;
  text-align: center;
  border-top: 2px solid #0f0f46;
  padding: 3px;
  border-bottom: 2px solid #0f0f46;
}

.versehighlight {
  text-align: center;
}


.copybuttons {
  display: flex;
  flex-direction: column;
  gap: 5%;
}

.dualplacement {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 5%;
  text-align: center;
}


.dualespecial {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
  height: auto;
  justify-content: center;
  gap: 2%;
}

.smallfont {
  padding-bottom: 10px !important;
  padding-top: 10px !important;
  background-color: #0f0f46;
  color: white;
  cursor: pointer;
  text-align: center;
}
.smallfont:last-child:nth-child(2n - 1) {
  grid-column-end: 5;
}



.soloplacement {
  display: flex;
  width: 100%;
  margin-top: 3%;
  height: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-bottom: 3%;
}


.marginhere {
  margin-top: 5%;
  margin-bottom: 5%;
}



.resizebutton {
  width: 100% !important;
  display: flex;
  display: flex;
}

.resizebutton2 {
  width: 50% !important;
  display: flex;
  display: flex;
}

.diglot2 {
  padding-top: 5% !important;
  padding-bottom: 5% !important;
}

.changedcolor {
  background-color: #ffffff;
  border: 1px solid #0f0f46;
  color: rgb(0, 0, 0);
  padding-bottom: 5%;
  padding-top: 5%;
}