body {
  font-size: 1em;
  overflow-x: hidden;
  ;
}

html {
  overflow-x: hidden;
}



#searchere {
  width: 100%;
  height: auto;
}


#display-title2 {
  font-size: 1.4em;
}

#hrdivider,
.HomeURLheader,
#headerLink {
  max-height: 30px;
}

.HomeURLheader {
  font-size: 1.3em;
}

#header {
  margin-bottom: 5px;
}

.HomeURLheader {
  font-weight: normal;
  text-decoration: none;
  color: white;
}

#display-title {
  text-align: left;
  font-size: 1.2em;
  /* margin-left: 10%; */
  margin-top: 3px;
  position: fixed;
  top: 0;
}

@media (max-width:750px) {
  #display-title2 {
    font-size: 1em;
  }

  #header {
    flex-direction: column !important;
    gap: 2px;
    padding-top: 0px;
  }

  #hrdivider,
  .HomeURLheader,
  #headerLink {
    max-height: auto;
  }

  #display-title2 {
    font-size: 1em;
  }

  #hrdivider {
    width: 100%;
    margin: -5px;
    opacity: .5;
    display: flex;
    align-items: center;

    hr {
      width: 100%;
    }
  }
}


.clink {
  font-size: 1em;
  width: 35px;
  /* Fixed width so all boxes are equal */
  height: 30px;
  /* Fixed height */
}

.IndexChapterParent,
.IndexChapterParent,
.PageVerseParent {
  display: flex;
  align-items: center;
  justify-content: center;
}

a.vlink,
a.vlink:link,
a.vlink:visited a.clink,
a.clink:link,
a.clink:visited {
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  width: 35px;
  height: 35px;
  font-weight: bold;
}



.verseLinks,
.chapterLinks {
  flex-wrap: wrap;
  gap: 15px;
  padding: 1em 1em;
  margin: 0 auto;
}




/*spacerawayfrommenubarito*/
.bible-container {
  margin-bottom: auto;

}

#DisplayFlexOfBigFive,
#DisplayFlexBigThree {
  padding-bottom: 200px;
}

.bible-container-bg {
  height: auto;
  overflow: visible;
}


.indeximage {
  width: 100%;
  height: auto;
}

.verticalimageindex {
  width: 24%;
  height: auto;
  margin-right: 15px;
  margin-bottom: 20px;
  margin-top: 0px;
  margin-left: 20px;
}

.horizontalimageindex {
  width: 90%;
  height: auto;
  margin: 20px;
}

.horizontalbiggerimageindex {
  width: 42%;
  height: auto;
  margin: 20px;
}

.pinoybiblegmail {
  margin-bottom: -5px;
}

.homepageh1 {
  font-size: 2em;
}

.spanenglishbible,
.spantagalogbible {
  font-size: 1em;
  line-height: 1.1em;
}

.tdenglishbible {
  padding: 10px 20px 10px 10px;
}

.tdtagalogbible {
  padding: 10px 10px 10px 20px;
}

.biblepassages {
  padding-left: 10% !important;
  padding-right: 10% !important;
}

.OtherLinks {
  border-style: solid;
  border-width: 1px 0;
  border-color: #bbbbbb;
  padding: 5px 10px;
  overflow: auto;
}

.OtherLinks {
  transition: padding 0.3s ease;
  text-align: center;
}

.OtherLinks:hover {
  background-color: #f1ffc3;
  padding: 20px 0px;

  .OtherMenu {
    height: auto;
  }
}

.clinkColumn {
  display: flex;
}

#image1080,
#image4k {
  float: left;
  max-width: 220px;
  min-width: 50px;
  width: 100%;
  height: auto;
}

#DisplayFlexOfBigFive {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

#DisplayFlexBigThree {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 65px auto;
}




#DisplayFlexOfBigFive {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: flex-start;
  align-items: flex-start;
}

#DisplayFlexBigThree {
  display: flex;
  justify-content: center;

}



.OtherMenu {
  height: 100%;
  height: 300px;
  overflow: hidden;
  padding: 10px;
  max-height: 250px;
}

.indentHolder {
  margin-left: 15px;
  margin-right: 15px;
}

.homepageh1 {
  margin: 1px;
}

#DisplayFlexOfBigFive {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: flex-start;
  align-items: flex-start;
}

.diglotfullwidth {
  width: 100%;
}



.previouschapter,
.npspacer,
.nextchapter {
  font-size: 1.2em;
}

.BookIndexTitle {
  font-size: 2.2em;
}

.BookIndexChapter {
  font-size: 1.5em;
}

.ChapterHomeText {
  text-align: justify;
  margin: 20px 20px 0px 20px;
}





.ChapterP,
.ChapterPNI,
.ChapterPCenter,
.CenterIndex,
.centernonitalic {
  font-size: 1.2em;
}

.english {
  font-size: 0.9em;
}

.tagalogleft,
.diglotboth {
  font-size: 1em;
}

.diglotnav {
  font-size: 1.2em;
}

.bibleduo {
  font-size: 0.9em;
}

.LCOldTestament,
.LCNewTestament {
  font-size: 1.4em;
}

#bgUpload {
  font-size: 1.2em;
}

.BMONTgenesis,
.BMONTexodus,
.BMONTleviticus,
.BMONTnumbers,
.BMONTdeuteronomy,
.BMONTjoshua,
.BMONTjudges,
.BMONTruth,
.BMONT1samuel,
.BMONT2samuel,
.BMONT1kings,
.BMONT2kings,
.BMONT1chronicles,
.BMONT2chronicles,
.BMONTezra,
.BMONTnehemiah,
.BMONTesther,
.BMONTjob,
.BMONTpsalms,
.BMONTproverbs,
.BMONTecclesiastes,
.BMONTsongofsolomon,
.BMONTisaiah,
.BMONTjeremiah,
.BMONTlamentations,
.BMONTezekiel,
.BMONTdaniel,
.BMONThosea,
.BMONTjoel,
.BMONTamos,
.BMONTobadiah,
.BMONTjonah,
.BMONTmicah,
.BMONTnahum,
.BMONThabakkuk,
.BMONTzephaniah,
.BMONThaggai,
.BMONTzechariah,
.BMONTmalachi,
.BMONTmatthew,
.BMONTmark,
.BMONTluke,
.BMONTjohn,
.BMONTacts,
.BMONTromans,
.BMONT1corinthians,
.BMONT2corinthians,
.BMONTgalatians,
.BMONTephesians,
.BMONTphilippians,
.BMONTcolossians,
.BMONT1thessalonians,
.BMONT2thessalonians,
.BMONT1timothy,
.BMONT2timothy,
.BMONTtitus,
.BMONTphilemon,
.BMONThebrews,
.BMONTjames,
.BMONT1peter,
.BMONT2peter,
.BMONT1john,
.BMONT2john,
.BMONT3john,
.BMONTjude,
.BMONTrevelation {
  padding-left: 10px;
}

#labelTitle {
  font-weight: bold;
  font-size: 1.2em;
}

#bgUpload {
  font-size: 1em;
}

#bgStyle {
  font-size: 1em;
}


#bgColor {
  width: 100px;
  height: 100px;
}



.bible-container,
.previousspacernextFlexParent,
.UpperPageParentFlexBox {
  display: flex;
}

.bible-container,
.UpperPageParentFlexBox {
  flex-direction: column;
}

.previousspacernextFlexPare {
  flex-direction: row;
}

.verseLinks,
.chapterLinks {
  display: flex;
  justify-content: flex-start;
}

.ChapterPageTitle,
.BookIndexTitle {
  align-items: center;
  justify-content: center;

}

.chapterLinks {
  flex-direction: column;
}

.clinkColumn {
  border-bottom: 2px solid rgba(128, 128, 128, 0.0);
  gap: 10px;
}

.nothinglastsBUTTHEWORDOFGOD {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
}

.LoveOfGodFlex {
  display: flex;
  width: 100%;
  height: auto;
  overflow: visible;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.ChapterN1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.ChapterN2 {
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.N1 {
  font-size: 1.7em;
}

.N2 {
  font-size: 1.3em;
}

.N3 {
  font-size: 1.1em;
}

.N4 {
  font-size: 1em;
}

/* Top → Right → Bottom → Left */

.bible-container-bg {

  margin-bottom: 100px !important;
}

.bcbgPages {
  padding: 0px 20px 20px 20px;
}


.previousspacernextFlexParent {
  display: flex;
  justify-content: space-between;
  gap: 20%;
}


.previouschapter {
  display: inline-flex;
  justify-content: center;

  a {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
  }
}


.nextchapter {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  align-content: flex-end;

  a {
    display: flex;
    flex-direction: column-reverse;
    align-content: center;
    flex-wrap: wrap;
  }
}


.nextswitcher1,
.nextswitcher1p {
  display: inline-flex;
}

.nextswitcher1,
.nextswitcher {
  justify-content: flex-end
}


.nextswitcher,
.nextswitcherp {
  display: inline-flex;
}



.nextswitcher1p {

  a {
    display: flex !important;
    justify-content: flex-start;
  }

}

.nextswitcherp {

  a {
    display: flex !important;
    justify-content: flex-end;
  }

}





.PFlexIndented {
  text-indent: 3rem;
}

.ReversedPFlexIndented,
.CenterIndex {
  text-indent: 0px;
}


.CenterIndex {
  text-align: center !important;
  font-style: italic;
  margin-left: 3rem;
  margin-right: 3rem;
}





/* DIGLOT MENU PAGES */



.BibleChaptersMenu {
  height: 580px;
  overflow: auto;
  padding-left: 5px;
}


.remainhere {

  background-color: white;
  height:auto;

      width: 100%;

}

/* DIGLOT POST BUTTON */




#biblejournalpostsholder {

  overflow: auto;
  text-align: center;
  overflow-y: auto;
}



.biblejournalposts {
  border-bottom: 1px solid rgba(128, 128, 128, 0.281);
  border-top: 1px solid rgba(128, 128, 128, 0.281);
  padding: 5px 5px;
  transition: padding 0.3s;
}

.biblejournalposts:hover {
  background-color: rgba(181, 255, 249, 0.7);
  padding: 10px 5px;
}

.biblejournalposts {
  font-size: 1em;
  direction: ltr;
  text-align: center;
}

.journalnumber {
  font-weight: bold;
}

.journaltitle {
  font-size: 1.1em;
  color: #0f0f46;
}



@media (min-width:1101px) {
  .diglotcutwidth {
    width: 75%;
    margin: 0 auto;
  }
}

@media (max-width:1100px) {
  .diglotcutwidth {
    width: 100%;
    margin: 0 auto;
  }
}


#calltoactionhanging,
#calltoactionhanging2 {
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: #0f0f46;
  color: white;
  padding: 2% 5%;
  height: auto;
  width: 80%;

  text-align: center;
  margin: 0 auto;
}







/* daily devotional */

#dev-content {
  font-size: 1.2em;
  margin-left: 10%;
  margin-right: 10%;
  line-height: 1.4em;
}

#dev-content>pre {
  font-size: 1em;
  margin-left: 10%;
  margin-right: 10%;
  line-height: 1.4em;
  font-family: "Arimo", Arial, FreeSans, Helvetica, sans-serif;
}

#quote {
  font-size: 1.5em;
}

#image10802,
#image4k2 {
  float: right;
  max-width: 400px;
  min-width: 50px;
  width: 100%;
  height: auto;
}

.devotionalindex {
  font-size: 1.2em;
}







#customizationheader {
  font-size: 1.2em;
  display: flex;
}

/*DIGLOT BUTTON*/

#diglot-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5%;
  flex: 1 0 10%;
  border: 2px solid rgb(10, 10, 14);
}

#diglot-holder-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5%;
  flex: 1 0 10%;
  width: 100%;
  text-align: center;
  height: 200px;
}

#diglot-subholderdiglot {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2%;
  flex: 1 0 10%;
  justify-content: space-evenly;
}

.controldiglot {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f0f46;
  color: white;
  padding: 2% 5%;
  height: 30px;
}

#holderdiglottext {
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 100%;
  height: auto;
  padding-bottom: 5%;
}

.choosediglottext {
  display: flex;
  margin: 1%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.choosediglot {
  display: flex;
  margin-top: 1%;
  padding-top: 2%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#holderoftwonavi {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 5%;
}


/*DIGLOT BUTTON*/



#diglot-subholdertext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5%;
  text-align: center;

  border: 2px solid rgb(10, 10, 14);
}

#textsizebuttonholders {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2%;
  flex: 1 0 10%;
  justify-content: space-evenly;
}


.textresizerButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f0f46;
  color: white;
  padding: 2% 5%;
  width: 15%;
  height: 30px;
}



.textresizerButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f0f46;
  color: white;
  padding: 2% 5%;
  width: 15%;
  height: 30px;
}




.textresizerButton,
.controldiglot,
.fontchoiceButton,
.colorpage2 {
  display: flex;

}

.philnavsfloat {
  display: flex;
  align-items: center;
  justify-content: center;
  clear: both;
  cursor: pointer;
}

.philnavsfloatimg {
  width: 361px;
  height: 40x;
  cursor: pointer;
}

.marginparagraph {
  margin-left: 5%;
  margin-right: 5%;
  line-height: 1.4em;
}


.controldiglot,
.textresizerButton,
.fontchoiceButton,
#buttonclick,
.fontweightButton {
  transition: background-color 0.3s ease;
}






.controldiglot:hover,
.textresizerButton:hover,
.fontchoiceButton:hover,
#buttonclick:hover,
.fontweightButton:hover,
.colorpage2:hover {
  background-color: #daff06 !important;
  color: rgb(0, 0, 0) !important;
  cursor: pointer;
}


#fontfacebox {
  display: flex;
  border: 2px solid rgb(10, 10, 14);

  justify-content: center;
  width: 100%;
  margin: 1% auto;
  place-items: center;

}


.fontchoiceButton {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f0f46;
  color: white;
  padding: 1% 1%;
  width: 150px;
  height: 70px;
  align-content: center;
  justify-items: center;
  flex: 1 0 15%;
  gap: 5%;
  margin-bottom: 3%;



}



.colorpage2 {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1% 1%;
  width: 150px;
  height: 70px;
  align-content: center;
  justify-items: center;
  flex: 1 0 15%;
  gap: 5%;
  margin-bottom: 3%;


}





.fontchoicesHolder {
  display: flex;
  gap: 5%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-top: 1rem;
}

#fontfacebox {
  display: flex;
  flex-direction: column;
}



.fontweightHolder {
  display: flex;
  gap: 5%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 1rem;
  flex-direction: column;
  border: 2px solid rgb(10, 10, 14);
}

#choosediglottext {
  width: 100%;
}


.fontweightHolderButton {
  display: flex;
  gap: 1%;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 0 auto;
  margin-top: 1rem;
  flex-direction: row;
  width: 100%;
}


.linerindex {
  width: 100%;
  border: 1px solid black;
}

#customizationheader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
}



.fontweightButton {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f0f46;
  color: white;
  padding: 1% 1%;
  width: 150px;
  height: 60px;
  align-content: center;
  justify-items: center;
  gap: 5%;
  margin-bottom: 3%;
  cursor: pointer;


}












.bible-container-bgs,
.gray {
  background-color: #adadad;
  color: black;
}

.bible-container-bgs,
.blue {
  color: #ffffff;
  background-color: #416e97;
}

.bible-container-bgs,
.brown {
  background-color: #bbb19c;
  color: #33311e;
}

.bible-container-bgs,
.sepia {
  background-color: #b8a88a;
  color: white;
}


.bible-container-bgs,
.brownish {
  background-color: #897560;
  color: white;
}



.bible-container-bgs,
.visionimpaired {
  background-color: #000000 !important;
  color: white;
}








#bigthreeIndexFlexHolder {
  display: flex;
  flex-direction: column;
}

.flexIndexStart {
  order: 2;
}

.flexIndexChapterNumber {
  order: 1;
}

.flexIndexEnd {
  order: 3;
}







/** BACKGROUND IMAGE AND COLOR **/



.BackgroundImageFlex {
  display: flex;
  flex-direction: row;
}




#bgUploadFlex {
  display: flex;
}


#bgStyleFlex {
  display: flex;
}

#applyImageThemeFlex {
  display: flex;
}

#lesserhrnaFlex {
  display: flex;
}

.BackgroundColorFlex {
  display: flex;
  flex-direction: row;
}

#chooseplainFlex {
  display: flex;
}

#labelTitleFlex2 {
  display: flex;
}

#applyColorFlex {
  display: flex;
}

.BackgroundImageFlex {
  width: 100%;
  height: auto;
}




#bgStyleFlex {
  width: 100px;
  height: auto;
}



#lesserhrnaFlex {
  width: 100px;
  height: auto;
}

.BackgroundColorFlex {
  width: 100px;
  height: auto;
}

#chooseplainFlex {
  width: 100px;
  height: auto;
}

#labelTitleFlex2 {
  width: 100px;
  height: auto;
}

#applyColorFlex {
  width: 100px;
  height: auto;
}



.CustomizerFlex {
  display: flex;
  justify-items: center;
  flex-direction: column;
  gap: 5%;
}

#plaincoloronly {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5%;
  flex: 1 0 10%;
  border: 2px solid rgb(10, 10, 14);
  width: 45%;
}


#plainimageonly {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 5%;
  flex: 1 0 10%;
  border: 2px solid rgb(10, 10, 14);
  width: 45%;
  height: 250px;
}




.BackgroundImageFlex {
  width: 100%;
  height: auto;
  text-align: center;
  align-self: center;
  justify-content: center;

  h3 {
    width: 100%;
    height: auto;
    text-align: center;
    align-self: center;
    justify-content: center;
  }
}

.uploadholder {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: flex-start;
  margin-left: 2%;
}

#labelTitleFlex {
  display: flex;
  width: 50%;
  height: auto;
}

#bgUploadFlex {
  width: 50%;
  height: auto;
}


#applyImageThemeFlex {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.colorpage {
  width: 90%;
  height: 50px;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;
}


#buttonclick {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f0f46;
  color: white;
  padding: 1% 1%;
  width: 150px;
  height: 40px;
  align-content: center;
  justify-items: center;
  gap: 5%;
  margin-bottom: 3%;
  cursor: pointer;



}

.BackgroundImageFlex {
  display: flex;
  flex-direction: column;
}

.uploadholder2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: CENTER;

}


#plaincoloronly {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 5%;
  flex: 1 0 10%;
  border: 2px solid rgb(10, 10, 14);
  width: 40%;
  height: 250px;
}


.uploadholder3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;

}

#labelTitleFlex2 {
  width: 100%;
  justify-content: center;
  align-self: center;
}



.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20%;
  opacity: .5;
  height: 50px;
  cursor: pointer;

}

.back-to-top:hover {
  position: fixed;
  bottom: 20px;
  right: 20%;
  opacity: 1;
  background-color: white;

  .scrollup {
    scale: 1.2;
    background-color: white;
    margin-bottom: 20px;
  }

}

.scrollup {
  width: 60px;
  height: 48px;
}



#btnPrev,
#btnToggle,
#btnNext {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f0f46;
  color: white;
  padding: 1% 1%;
  width: 100px;
  height: 40px;
  align-content: center;
  justify-items: center;

  cursor: pointer;


  font-size: .8em;


}


#btnPrev:hover,
#btnToggle:hover,
#btnNext:hover {

  background-color: #daff06;
  color: rgb(0, 0, 0);
  cursor: pointer;

}




#navigationall,
.back-to-top {

  display: none !important;
}


#navigationall:hover {
  opacity: 1;
}


.resultbox {
  width: 100%;
  position: relative;
  height: auto;
}

#searchBox {
  border: 1px solid gray;
  font-size: 1.2em;
  height: 35px;
  width: 80%;
  margin: 5% auto;
  padding: 2% 5%;

}

#searchResults {
  width: 100;
  height: 100%;
  overflow: auto;
  position: relative;
}





/*spacerawayfrommenubarito*/

.bible-container {
  position: absolute;
  width: 100%;
  height: auto;
  margin-bottom: 100px;

  left: 0;
}


#MenuContainerMirrored {

  height: 30%;
  position: fixed;
  width: 25%;
  left: 0;
  bottom: 0;
}



#separatedivider {
  display: none;
}

#joinerdivider {
  display: block;
}


#MenuContainer {

  height: 65%;
  position: fixed;
  left: 0;
  width: 25%;

}


#MenuContainer,
.OtherLinks {
  max-width: 250px;
}

#MenuContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 10px;
  margin-left: 0;

  position: fixed;

  flex: 1 0 10%;

}



#DesktopMenuOnly,
.narrowgone {
  display: none !important;
}



.marginbot {
  margin-bottom: 5% !important;
}






.resultdiglot {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5%;
}



.diglotfooterdiv {
  position: relative;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background-color: white;
  max-height: 200px;
  min-height: 150px;
}


#modulesearch {
  position: fixed !important;
  bottom: 0;
  background-color: #090947;
  width: 50%;
  height: 5%;
  opacity: 0;
  transition: opacity 1s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  z-index: 77777;
}

#searchResults {
  z-index: 333;
}

#modulesearch:hover {
  opacity: 1;
  z-index: 77777;
}






















/* DIGLOT THUMB MENU UNIVERSAL    */

#thumbmenuholder {
  position: fixed;
  height: 50px;
  width: 100%;
  display: flex;
  z-index: 7777777;
  flex-direction: row;
  bottom: 0; left:0;
}

#closemenuhighlighter{display:none;}



.bibleversesthumb {
  width: 35%;
  background-color: #16166b;
  color: white;
  font-size: 1.2em;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-items: center;
  height: 100%;
  max-height: 50px;
  cursor: pointer;
  display: flex;
}

#closebiblemenu,
#closemenu {
  display: none;
}


.goupthumb, .highlighterpopup {
  width: 15%;
  background-color: #0f0f46;
  color: white;
  font-size: 1.2em;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-items: center;
  height: 100%;
  max-height: 50px;
  cursor: pointer;
  display: flex;

}

.biblecontrollthumb {
  width: 35%;
  background-color: #16166b;
  color: white;
  font-size: 1.2em;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-items: center;
  height: 100%;
  max-height: 50px;
  cursor: pointer;
  display: flex;
}


#biblemenuanimation,
#biblemenuanimationright {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: auto;
  background-color: white;
  display: none;
  bottom: 0;
  left: 0;
  color: black;
  margin-top: 60px;

  background-attachment: fixed;
  background-repeat: repeat;


}





.bibleversesthumb,
.goupthumb,
.biblecontrollthumb, .highlighterpopup {
  transition: background-color 0.3s ease;
  border-left:2px solid #3c5984;

}



.bibleversesthumb:hover,
.goupthumb:hover,
.biblecontrollthumb:hover, .highlighterpopup:hover {
  background-color: #daff06;
  color: rgb(0, 0, 0);
  cursor: pointer;

}



.testamentsholderthumb {

  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;

}

.topspacer {
  display: flex;
  margin-top: 15%;

}


#GodYouReign {
  display: block;
  height: 100px;
  font-size: 1.2em;
  padding-bottom: 15%;
  text-align: center;
  font-weight: bold;
}


.menuheader {
  width: 100%;
  border-bottom: 2px solid gray;
  border-top: 2px solid gray;
  height: 1.5em;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}

.newoldholder {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  left: 0;
  bottom: 0;
  justify-content: center;
}






.oldrow {
  display: flex;
  background-color: #e8f7fa;
  flex-direction: column;
  width: 100%;
}

.newrow {
  display: flex;
  background-color: #ededff;
  flex-direction: column;
  width: 100%;
  text-align: right;
}





#upnimation {
  position: fixed;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 7777777;
}

#upnimation li {
  font-size: 3em;
  position: fixed;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  list-style: none;
  opacity: 0;
  filter: drop-shadow(-5px 5px 12px rgba(0, 0, 0, 0.2)) drop-shadow(-5px 5px 20px rgba(0, 0, 0, 0.2));
  /* no animation here */
}

@keyframes upanimations {
  0% {
    bottom: -50px;
    opacity: 1;
  }

  100% {
    bottom: 120vh;
    opacity: 0;
  }
}








#bke1st-corinthians,
#bke1st-john,
#bke1st-peter,
#bke1st-thessalonians,
#bke1st-timothy,
#bke2nd-corinthians,
#bke2nd-john,
#bke2nd-peter,
#bke2nd-thessalonians,
#bke2nd-timothy,
#bke3rd-john,
#bkeacts,
#bkecolossians,
#bkeephesians,
#bkegalatians,
#bkehebrews,
#bkejames,
#bkejohn,
#bkejude,
#bkeluke,
#bkemark,
#bkematthew,
#bkephilemon,
#bkephilippians,
#bkerevelation,
#bkeromans,
#bketitus {
  width: 100%;
  height: auto;
  font-size: 1em;
  margin: 0;
  border-bottom: 1px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 4% 0;
}


#bke1st-corinthianschaptersResult,
#bke1st-johnchaptersResult,
#bke1st-peterchaptersResult,
#bke1st-thessalonianschaptersResult,
#bke1st-timothychaptersResult,
#bke2nd-corinthianschaptersResult,
#bke2nd-johnchaptersResult,
#bke2nd-peterchaptersResult,
#bke2nd-thessalonianschaptersResult,
#bke2nd-timothychaptersResult,
#bke3rd-johnchaptersResult,
#bkeactschaptersResult,
#bkecolossianschaptersResult,
#bkeephesianschaptersResult,
#bkegalatianschaptersResult,
#bkehebrewschaptersResult,
#bkejameschaptersResult,
#bkejohnchaptersResult,
#bkejudechaptersResult,
#bkelukechaptersResult,
#bkemarkchaptersResult,
#bkematthewchaptersResult,
#bkephilemonchaptersResult,
#bkephilippianschaptersResult,
#bkerevelationchaptersResult,
#bkeromanschaptersResult,
#bketituschaptersResult {
  position: relative;
  background-color: #e5f7ff;
}



#bke1st-corinthiansverseResult,
#bke1st-johnverseResult,
#bke1st-peterverseResult,
#bke1st-thessaloniansverseResult,
#bke1st-timothyverseResult,
#bke2nd-corinthiansverseResult,
#bke2nd-johnverseResult,
#bke2nd-peterverseResult,
#bke2nd-thessaloniansverseResult,
#bke2nd-timothyverseResult,
#bke3rd-johnverseResult,
#bkeactsverseResult,
#bkecolossiansverseResult,
#bkeephesiansverseResult,
#bkegalatiansverseResult,
#bkehebrewsverseResult,
#bkejamesverseResult,
#bkejohnverseResult,
#bkejudeverseResult,
#bkelukeverseResult,
#bkemarkverseResult,
#bkematthewverseResult,
#bkephilemonverseResult,
#bkephilippiansverseResult,
#bkerevelationverseResult,
#bkeromansverseResult,
#bketitusverseResult {
  position: relative;
  background-color: #cbd9df;
}


#bke1st-chronicles,
#bke1st-kings,
#bke1st-samuel,
#bke2nd-chronicles,
#bke2nd-kings,
#bke2nd-samuel,
#bkeamos,
#bkedaniel,
#bkedeuteronomy,
#bkeecclesiastes,
#bkeesther,
#bkeexodus,
#bkeezekiel,
#bkeezra,
#bkegenesis,
#bkehabakkuk,
#bkeHaggai,
#bkehosea,
#bkeisaiah,
#bkejeremiah,
#bkejob,
#bkejoel,
#bkejonah,
#bkejoshua,
#bkejudges,
#bkelamentations,
#bkeleviticus,
#bkemalachi,
#bkemicah,
#bkenahum,
#bkenehemiah,
#bkenumbers,
#bkeobadiah,
#bkeproverbs,
#bkepsalms,
#bkeruth,
#bkesong-of-solomon,
#bkezechariah,
#bkezephaniah {
  width: 100%;
  height: auto;
  font-size: 1em;
  margin: 0;
  border-bottom: 1px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 4% 0;
}




#bke1st-chronicleschaptersResult,
#bke1st-kingschaptersResult,
#bke1st-samuelchaptersResult,
#bke2nd-chronicleschaptersResult,
#bke2nd-kingschaptersResult,
#bke2nd-samuelchaptersResult,
#bkeamoschaptersResult,
#bkedanielchaptersResult,
#bkedeuteronomychaptersResult,
#bkeecclesiasteschaptersResult,
#bkeestherchaptersResult,
#bkeexoduschaptersResult,
#bkeezekielchaptersResult,
#bkeezrachaptersResult,
#bkegenesischaptersResult,
#bkehabakkukchaptersResult,
#bkeHaggaichaptersResult,
#bkehoseachaptersResult,
#bkeisaiahchaptersResult,
#bkejeremiahchaptersResult,
#bkejobchaptersResult,
#bkejoelchaptersResult,
#bkejonahchaptersResult,
#bkejoshuachaptersResult,
#bkejudgeschaptersResult,
#bkelamentationschaptersResult,
#bkeleviticuschaptersResult,
#bkemalachichaptersResult,
#bkemicahchaptersResult,
#bkenahumchaptersResult,
#bkenehemiahchaptersResult,
#bkenumberschaptersResult,
#bkeobadiahchaptersResult,
#bkeproverbschaptersResult,
#bkepsalmschaptersResult,
#bkeruthchaptersResult,
#bkesong-of-solomonchaptersResult,
#bkezechariahchaptersResult,
#bkezephaniahchaptersResult {
  position: relative;
  background-color: #e5f7ff;
}




#bke1st-chroniclesverseResult,
#bke1st-kingsverseResult,
#bke1st-samuelverseResult,
#bke2nd-chroniclesverseResult,
#bke2nd-kingsverseResult,
#bke2nd-samuelverseResult,
#bkeamosverseResult,
#bkedanielverseResult,
#bkedeuteronomyverseResult,
#bkeecclesiastesverseResult,
#bkeestherverseResult,
#bkeexodusverseResult,
#bkeezekielverseResult,
#bkeezraverseResult,
#bkegenesisverseResult,
#bkehabakkukverseResult,
#bkeHaggaiverseResult,
#bkehoseaverseResult,
#bkeisaiahverseResult,
#bkejeremiahverseResult,
#bkejobverseResult,
#bkejoelverseResult,
#bkejonahverseResult,
#bkejoshuaverseResult,
#bkejudgesverseResult,
#bkelamentationsverseResult,
#bkeleviticusverseResult,
#bkemalachiverseResult,
#bkemicahverseResult,
#bkenahumverseResult,
#bkenehemiahverseResult,
#bkenumbersverseResult,
#bkeobadiahverseResult,
#bkeproverbsverseResult,
#bkepsalmsverseResult,
#bkeruthverseResult,
#bkesong-of-solomonverseResult,
#bkezechariahverseResult,
#bkezephaniahverseResult {
  position: relative;
  background-color: #cbd9df;
}


#bke1st-corinthiansverseResult,
#bke1st-johnverseResult,
#bke1st-peterverseResult,
#bke1st-thessaloniansverseResult,
#bke1st-timothyverseResult,
#bke2nd-corinthiansverseResult,
#bke2nd-johnverseResult,
#bke2nd-peterverseResult,
#bke2nd-thessaloniansverseResult,
#bke2nd-timothyverseResult,
#bke3rd-johnverseResult,
#bkeactsverseResult,
#bkecolossiansverseResult,
#bkeephesiansverseResult,
#bkegalatiansverseResult,
#bkehebrewsverseResult,
#bkejamesverseResult,
#bkejohnverseResult,
#bkejudeverseResult,
#bkelukeverseResult,
#bkemarkverseResult,
#bkematthewverseResult,
#bkephilemonverseResult,
#bkephilippiansverseResult,
#bkerevelationverseResult,
#bkeromansverseResult,
#bketitusverseResult {
  position: relative;
  background-color: #cbd9df;
}



.chapter-heading,
.verse-heading {
  font-weight: bold;
  margin-bottom: 8px;
  text-align: center;
}

.chapter-number,
.verse-number {
  display: inline-block;
  width: 37px;
  height: 37px;
  margin: 4px;
  text-align: center;
  line-height: 40px;
  border: 1px solid #333;
  background-color: #f0f0f0;
  color: black;
  border-radius: 4px;
}


.newlanguage {
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: bold;
}

.newsublanguage {
  font-size: 1em;
}


#bke1st-corinthians:hover,
#bke1st-john:hover,
#bke1st-peter:hover,
#bke1st-thessalonians:hover,
#bke1st-timothy:hover,
#bke2nd-corinthians:hover,
#bke2nd-john:hover,
#bke2nd-peter:hover,
#bke2nd-thessalonians:hover,
#bke2nd-timothy:hover,
#bke3rd-john:hover,
#bkeacts:hover,
#bkecolossians:hover,
#bkeephesians:hover,
#bkegalatians:hover,
#bkehebrews:hover,
#bkejames:hover,
#bkejohn:hover,
#bkejude:hover,
#bkeluke:hover,
#bkemark:hover,
#bkematthew:hover,
#bkephilemon:hover,
#bkephilippians:hover,
#bkerevelation:hover,
#bkeromans:hover,
#bketitus:hover,
#bke1st-chronicles:hover,
#bke1st-kings:hover,
#bke1st-samuel:hover,
#bke2nd-chronicles:hover,
#bke2nd-kings:hover,
#bke2nd-samuel:hover,
#bkeamos:hover,
#bkedaniel:hover,
#bkedeuteronomy:hover,
#bkeecclesiastes:hover,
#bkeesther:hover,
#bkeexodus:hover,
#bkeezekiel:hover,
#bkeezra:hover,
#bkegenesis:hover,
#bkehabakkuk:hover,
#bkeHaggai:hover,
#bkehosea:hover,
#bkeisaiah:hover,
#bkejeremiah:hover,
#bkejob:hover,
#bkejoel:hover,
#bkejonah:hover,
#bkejoshua:hover,
#bkejudges:hover,
#bkelamentations:hover,
#bkeleviticus:hover,
#bkemalachi:hover,
#bkemicah:hover,
#bkenahum:hover,
#bkenehemiah:hover,
#bkenumbers:hover,
#bkeobadiah:hover,
#bkeproverbs:hover,
#bkepsalms:hover,
#bkeruth:hover,
#bkesong-of-solomon:hover,
#bkezechariah:hover,
#bkezephaniah:hover,
.chapter-number:hover,
.verse-number:hover {
  background-color: #eeff00;
  cursor: pointer;
}



#bke1st-corinthians:active,
#bke1st-john:active,
#bke1st-peter:active,
#bke1st-thessalonians:active,
#bke1st-timothy:active,
#bke2nd-corinthians:active,
#bke2nd-john:active,
#bke2nd-peter:active,
#bke2nd-thessalonians:active,
#bke2nd-timothy:active,
#bke3rd-john:active,
#bkeacts:active,
#bkecolossians:active,
#bkeephesians:active,
#bkegalatians:active,
#bkehebrews:active,
#bkejames:active,
#bkejohn:active,
#bkejude:active,
#bkeluke:active,
#bkemark:active,
#bkematthew:active,
#bkephilemon:active,
#bkephilippians:active,
#bkerevelation:active,
#bkeromans:active,
#bketitus:active,
#bke1st-chronicles:active,
#bke1st-kings:active,
#bke1st-samuel:active,
#bke2nd-chronicles:active,
#bke2nd-kings:active,
#bke2nd-samuel:active,
#bkeamos:active,
#bkedaniel:active,
#bkedeuteronomy:active,
#bkeecclesiastes:active,
#bkeesther:active,
#bkeexodus:active,
#bkeezekiel:active,
#bkeezra:active,
#bkegenesis:active,
#bkehabakkuk:active,
#bkeHaggai:active,
#bkehosea:active,
#bkeisaiah:active,
#bkejeremiah:active,
#bkejob:active,
#bkejoel:active,
#bkejonah:active,
#bkejoshua:active,
#bkejudges:active,
#bkelamentations:active,
#bkeleviticus:active,
#bkemalachi:active,
#bkemicah:active,
#bkenahum:active,
#bkenehemiah:active,
#bkenumbers:active,
#bkeobadiah:active,
#bkeproverbs:active,
#bkepsalms:active,
#bkeruth:active,
#bkesong-of-solomon:active,
#bkezechariah:active,
#bkezephaniah:active,
.chapter-number:active,
.verse-number:active {
  background-color: #eeff00;
  cursor: pointer;
}



#bke1st-corinthians:target,
#bke1st-john:target,
#bke1st-peter:target,
#bke1st-thessalonians:target,
#bke1st-timothy:target,
#bke2nd-corinthians:target,
#bke2nd-john:target,
#bke2nd-peter:target,
#bke2nd-thessalonians:target,
#bke2nd-timothy:target,
#bke3rd-john:target,
#bkeacts:target,
#bkecolossians:target,
#bkeephesians:target,
#bkegalatians:target,
#bkehebrews:target,
#bkejames:target,
#bkejohn:target,
#bkejude:target,
#bkeluke:target,
#bkemark:target,
#bkematthew:target,
#bkephilemon:target,
#bkephilippians:target,
#bkerevelation:target,
#bkeromans:target,
#bketitus:target,
#bke1st-chronicles:target,
#bke1st-kings:target,
#bke1st-samuel:target,
#bke2nd-chronicles:target,
#bke2nd-kings:target,
#bke2nd-samuel:target,
#bkeamos:target,
#bkedaniel:target,
#bkedeuteronomy:target,
#bkeecclesiastes:target,
#bkeesther:target,
#bkeexodus:target,
#bkeezekiel:target,
#bkeezra:target,
#bkegenesis:target,
#bkehabakkuk:target,
#bkeHaggai:target,
#bkehosea:target,
#bkeisaiah:target,
#bkejeremiah:target,
#bkejob:target,
#bkejoel:target,
#bkejonah:target,
#bkejoshua:target,
#bkejudges:target,
#bkelamentations:target,
#bkeleviticus:target,
#bkemalachi:target,
#bkemicah:target,
#bkenahum:target,
#bkenehemiah:target,
#bkenumbers:target,
#bkeobadiah:target,
#bkeproverbs:target,
#bkepsalms:target,
#bkeruth:target,
#bkesong-of-solomon:target,
#bkezechariah:target,
#bkezephaniah:target,
.chapter-number:target,
.verse-number:target {
  background-color: #eeff00;
  cursor: pointer;
}








/* BIBLE JOURNAL */
/*               */

#journalheaderholder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.journaltitle,
.journalnumber,
.journalcategory {
  display: flex;
}

.journalposttitle {
  font-size: 1.7em;
  color: #0f0f46;
  font-weight: 700;
  text-align: center;
}




#searchhere{display:flex; flex-direction: row; gap:5%; justify-content: space-evenly; align-items: center; align-self: center;}
.searchside {display: flex; justify-content: center; align-items: center; align-content: center; font-size: 1.2em; font-weight: bold;}
.searchright {display:flex; margin-right:5%}



#verseInput {
  width: 100%;
  box-sizing: border-box;
  padding: 4px;
  height: 50px;
  margin-bottom: 5%;
}


.controlheader {
  font-weight: bold;
  text-align: center;
  border-top: 2px solid #0f0f46;
  padding: 3px;
  border-bottom: 2px solid #b8b8cd;
  margin-top: 5%;
  margin-bottom: 5%;
}

.versehighlight {
  text-align: center;
}


.copybuttons {
  display: flex;
  flex-direction: column;
  gap: 5%;
}

.dualplacement, .dualespecial  {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 5%;
  text-align: center;
}

.soloplacement {
  display: flex;
  width: 100%;
  margin-top: 3%;
  height: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-bottom: 3%;
}

.controldiglot {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f0f46;
  color: white;
  padding: 2% 5%;
  height: 30px;
}




#revealhighlighter {width:100%; display: block; height:100%; z-index:77777; max-width: 100vw;}


#MenuContainer {display: none; z-index: 77777; width:100%; height: 25%; position: fixed; bottom:5%; left:0; max-width: 100vw;}

.THUMBINDEXHIDER{ display: none !important;}

