

/* ANIMATION */

#MenuContainer {
display: flex;
        flex: 1;
        flex-direction: column;
        gap: 20px;
        margin-left: -1%;
        height: 90%;
        position: fixed;
        left: -20%;



  /* Shorthand: Name | Duration | Timing | Delay | Iteration | Direction */
  animation: insertIn 1s ease-in-out 1s forwards;
}

@keyframes insertIn {
  from {flex: 1;
        flex-direction: column;
        gap: 20px;
        margin-left: -1%;
        height: 80%;
        position: fixed;
        left: -20%;
 }
  to   {        flex: 1;
        flex-direction: column;
        gap: 20px;
        margin-left: .5%;
        height: 90%;
        position: fixed;
        left: .5%;
}
}


        

#header {
  position: absolute; /* Define this here, not just in keyframes */
  top: -150px;       /* Set the starting point here */
  

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #122051 !important;




  /* Shorthand: Name | Duration | Timing | Delay | Iteration | Direction */
  animation: Reveal 1s ease-in-out .5s forwards;
}

@keyframes Reveal {
  from { top: -150px;     background-color: #122051 !important; }
  to   { top: 0px; position: fixed; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
       background-color: #122051 !important;}
}


.bible-container {
opacity:0%;
  /* Shorthand: Name | Duration | Timing | Delay | Iteration | Direction */
  animation: Appear 1s ease-in-out 0s forwards;
}

@keyframes Appear {
  from { opacity: 0%; }
  to   { opacity: 100%;}
}







#MenuContainerMirrored  {


        gap: 20px;
        margin-left: -1%;
        height: 80%;
        position: fixed;
        RIGHT: -20%;


        gap: 20px;
        margin-right: -1%;
        height: 90%;
        position: fixed;
      
        flex: 1 0 10%;
        max-width: 320px;
        width: 100%;





  /* Shorthand: Name | Duration | Timing | Delay | Iteration | Direction */
  animation: insertIn2 1s ease-in-out 1s forwards;
}

@keyframes insertIn2 {
  from {
        gap: 20px;
        margin-right: -1%;
        height: 80%;
        position: fixed;
        right: -20%;
        flex: 1 0 10%;
        max-width: 320px;
        width: 100%;
 }
  to   {      
   display: flex;
        flex: 1;
        flex-direction: column;
        gap: 20px;
        margin-right: .5%;
        height: 90%;
        position: fixed;
        right: .5%;
        flex: 1 0 10%;
        max-width: 320px;
        width: 100%;
}
}

